.wrapper {
    position: relative;

}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 440px;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        h1 {
            color: var(--main-clean-white-ffffff, #FFF);
            font: 500 96px Lexend;
            line-height: 96px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span:last-child {
                color: var(--main-blue-478-bf-9, #478BF9);
            }
        }

        p {
            color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
            font: 500 32px Lexend;
            line-height: 32px;
        }

        .btn {
            margin-top: 50px;

            button {
                border-radius: 48px;
                text-align: center;
                padding: 20px 72px;
                font: 600 24px Lexend;
                text-transform: uppercase;
            }
        }
    }

    .wrapperBanner {
        position: absolute;
        z-index: -1;
        bottom: -7%;
        display: flex;
        gap: 12px;
        animation: moveVertical 5s ease infinite;
    }

    .blog {
        margin: 140px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        h1 {
            text-align: center;
            color: var(--main-clean-white-ffffff, #FFF);
            font: 600 40px Lexend;
            line-height: 40px;
        }
    }
}