.border {
    border-radius: 100px;
    border: 3px solid var(--main-blue-478-bf-9, #478BF9);
    background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));

    padding-right: 10px;
    width: 530px;
    height: 604px;

    .wrapper {
        margin: 0;
        border-radius: 100px;

        height: 600px;

        padding: 24px 30px 20px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: scroll;


        /* Стилизация полосы прокрутки */
        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 10px;
        }

        /* Стилизация ползунка прокрутки */
        &::-webkit-scrollbar-thumb {
            background: var(--main-blue-478-bf-9, #478BF9);
            /* Цвет ползунка */
            border-radius: 10px;
            /* Скругление углов ползунка */
        }

        /* Стилизация фона полосы прокрутки */
        &::-webkit-scrollbar-track {
            margin: 100px 0;
            border-radius: 10px;
            background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));
            /* Цвет фона полосы прокрутки */
        }

        .card {
            border-radius: 196px;
            background: var(--main-deep-blue-1-e-1231, #1E1231);
            padding: 16px 64px;
            transition: 0.5s;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 14px;

            &:hover {
                background: var(--main-blue-478-bf-9, #478BF9);
                cursor: pointer;
            }

            p {
                color: var(--main-clean-white-ffffff, #FFF);
                font: 400 24px Lexend;
                line-height: 28px;

                &:last-child {
                    color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
                    font: 450 14px Futura PT;
                    line-height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .border {
        border-radius: 50px;
        border: 2px solid var(--main-blue-478-bf-9, #478BF9);
        background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));

        padding-right: 10px;
        
        width: auto;
        height: 425px;

        .wrapper {
            margin: 0;
            border-radius: 50px;
            height: 421px;

            padding: 10px 16px 10px 16px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: scroll;

            .card {
                border-radius: 40px;
                background: var(--main-deep-blue-1-e-1231, #1E1231);
                padding: 15px 35px;
                transition: 0.5s;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                &:hover {
                    background: var(--main-blue-478-bf-9, #478BF9);
                    cursor: pointer;
                }

                p {
                    color: var(--main-clean-white-ffffff, #FFF);
                    font: 400 16px Lexend;
                    line-height: 20px;


                    &:last-child {
                        color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
                        font: 450 14px Futura PT;
                        line-height: 16px;

                        font-feature-settings: 'liga' off;
                    }
                }
            }
        }
    }
}