.wrapper {
    position: relative;
    margin: auto;
    display: flex;
    width: 1440px;
    padding: 24px 48px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 64px;
    border: 4px solid var(--main-blue-478-bf-9, #478BF9);
    gap: 80px;
    background: var(--main-navy-blue-110-a-1-d, #110A1D);

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        p {
            color: var(--main-clean-white-ffffff, #FFF);
            font: 400 16px Lexend;
            line-height: 20px;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .btnWrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .language {
            cursor: pointer;
            display: flex;
            padding: 14px;
            justify-content: space-between;
            gap: 8px;
            width: 80px;

            border-radius: 24px;
            border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);

            .img {

                background-image: url("./assets/Icon\ -\ Planet.svg");
                background-size: contain;
                background-repeat: no-repeat;
                width: 18px;
                height: 18px;
            }

            p {
                color: var(--main-clean-white-ffffff, #FFF);
                text-align: center;
                font: 400 16px Lexend;
                line-height: 20px;
            }
        }

        .btn {
            border-radius: 24px;
            border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);

            color: var(--main-clean-white-ffffff, #FFF);
            font: 400 16px Lexend;
            line-height: 20px;

            &:last-child {
                border: none;
            }
        }

    }
}